<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet">

<div class="Header">

    <h1><a routerLink="" routerLinkActive="activeLink">Memorizer</a></h1>

    <ol class="Options">
        <li>
            <button class="option" (click)="kanjiService.useKatakana(!kanjiService.isUsingKatakana())"  [ngClass]="{'activeKanaButton': kanjiService.isUsingKatakana() == true}">
            <i class="fa fa-star" [ngClass]="{'activeKanaStar' : kanjiService.isUsingKatakana() == true}"></i>
            Hiragana
            </button>
        </li> 
    </ol>
</div>




