<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet">

<div class="Header">

    <h1>Memorizer</h1>

    <ol class="Options">
        <li><a routerLink="/reviseDeck" routerLinkActive="active">Revisar Deck</a></li>
        <li><a routerLink="/createNewCard" routerLinkActive="active">Gerenciar Decks</a></li>
    </ol>

</div>




