<app-header></app-header>
<div [class]="'ListaDeDecks' + (breakpoint.mobileBreakpoint ? ' align' : '')">
    <p *ngFor="let deck of decks; let i = index">
        <app-deck (ButtonWasClicked)="selectDeck($event)" [associatedDeck]="deck"></app-deck>
    </p>
    <app-botao-adicionar-deck (ButtonWasClicked)="showModalAddNewDeck()"></app-botao-adicionar-deck>
</div>
<app-modal-adicionar-deck [show]="showModal" (onNewDeck)="addNewDeck($event)" (onClose)="closeModalAddNewDeck()"></app-modal-adicionar-deck>
<app-footer></app-footer>