<app-header></app-header>
<div class="m-lg">
    <div class="m-t-md m-b-lg flex space-between">
        <div>
            <app-line-chart></app-line-chart>
            <div class="full-width center m-t-lg">
                <span class="cell-title m-r-md">Total Revisions: <span class="cell-info">4</span> </span>
                <span class="cell-title m-r-md">Cards To Revise: <span class="cell-info">4</span></span>
                <span class="cell-title">Cards To Learn: <span class="cell-info">4</span></span>
            </div>
        </div>
        <div class="m-t-lg">
            <span class="cell-title m-r-md">Sucess Rate: <span class="big-result m-l-sm">A</span> </span>
            <app-day-chart></app-day-chart>
        </div>
    </div>

    <div class="divider"></div>

    <div [class]="'ListaDeDecks' + (breakpoint.mobileBreakpoint ? ' align' : '')">
        <p *ngFor="let deck of decks; let i = index">
            <app-deck (ButtonWasClicked)="selectDeck($event)" [associatedDeck]="deck"></app-deck>
        </p>
        <app-botao-adicionar-deck (ButtonWasClicked)="showModalAddNewDeck()"></app-botao-adicionar-deck>
    </div>
</div>
<app-modal-adicionar-deck [show]="showModal" (onNewDeck)="addNewDeck($event)" (onClose)="closeModalAddNewDeck()"></app-modal-adicionar-deck>
<app-footer></app-footer>