.main-bar {
    display: flex;
    align-items: center;
    width: 350px;
}

.db-input-field {
    border: none;
    border-radius: 42px;
}

.bordas {
    border: 3px solid #a5a4d7;
}

.db-input-field:focus {
    outline: none;
}

.main-bar input[type='text'] {
    width: 350px;
    padding-left: 30px;
    font-family: 'Archivo', sans-serif;
}

.prepend {
    color: #cfdfff;
    height: 34px;
    width: 47px;
    font-size: 1.3rem;
    margin-left: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 4px solid #e9e9ff;
    z-index: 2;
    cursor: pointer;
}

.prepend i {
    padding-top: 4px;
}

.db-option-box {
    position: absolute;
    top: 39px;
    left: 1px;
    width: 317px;
    font-size: 1.5rem;
    z-index: 2;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 14px;
    border-radius: 18px;
    background-color: white;
}

.db-option:last-child {
    border-bottom: none;
}

.db-option {
    width: 235px;
    padding-top: 10px;
    padding-bottom: 7px;
    margin-left: 20px;
    padding-left: 11px;
    cursor: pointer;
    border-bottom: 2px solid #e4f1f7;
    color: #1f0f67;
    font-size: 35px;
}

.db-option:hover {
    padding-right: 13px;
    background-color: #f4f7ff;
}