.main-bar {
    display: flex;
    align-items: center;
    width: 350px;
}

.main-bar input[type='text'] {
    width: 320px;
    padding-left: 50px;
    font-family: 'Archivo', sans-serif;
}

.inside-input {
    color: rgb(40, 39, 42);
    margin-right: -30px;
    font-size: 1.3rem;
    z-index: 2;
}

.db-option-box {
    position: absolute;
    top: 39px;
    left: 1px;
    width: 317px;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.db-option:last-child {
    border-bottom: none;
}

.db-option {
    width: 235px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    padding-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #16333d;
}