.container-on {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: #004e95;
    border-radius: 40px;
    margin: 8px 4px;
    margin-right: 10px;
    cursor: pointer;
}

.switch-on {
    position: absolute;
    background-color: white;
    right: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.container-off {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: #b3bfca;
    border-radius: 40px;
    margin: 8px 4px;
    margin-right: 10px;
    cursor: pointer;
}

.switch-off {
    position: absolute;
    background-color: white;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.label {
    color: #07062D;
    font-size: 14px;
    font-family: (--sans-serif-font);
    font-weight: 600;
}