<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet">

<div [class]="'Header ' + (breakpoint.mobileBreakpoint ? ' sticky' : '')">

    <h1><a class="logo" routerLink="" routerLinkActive="activeLink">
        Yama</a></h1>

    <ol class="options" *ngIf="!breakpoint.mobileBreakpoint">
        <app-b-input icon="fa fa-search" (onChange)="searchCards($event)" [options]="kanjiReadings"></app-b-input>

        <div class="option-links">
            <a class="option-link m-r-lg">
                Decks
            </a>

            <a class="option-link m-r-lg" routerLink="/Writing" routerLinkActive="activeLink">
                Writing
            </a>

            <div class="user m-l-sm">
                <i class="">R</i>
            </div>

            <!-- <li>
                <button class="option" (click)="kanjiService.toggleKatakana()" [ngClass]="{'activeKanaButton': kanjiService.isUsingKatakana() == true}">
                <i class="fa fa-star" [ngClass]="{'activeKanaStar' : kanjiService.isUsingKatakana() == true}"></i>
                Hiragana
                </button>
            </li> -->
        </div>
    </ol>
    <div *ngIf="breakpoint.mobileBreakpoint" class="flex">
        <button class="box-small">
            <span class="fa fa-search text-md"></span>
        </button>
        <div class="secondary-menu-mobile" *ngIf="mobileSecondaryMenuActive">
            <a>Decks</a>
            <a>Revision</a>
            <a>Writing</a>
        </div>
        <button class="box-small" (click)="mobileSecondaryMenuActive = !mobileSecondaryMenuActive">
            <span class="fas fa-angles-right text-md"></span>
        </button>
    </div>
</div>