input {
    height: 50px;
    border-radius: 0px;
    border: 1px solid rgb(53, 178, 255);
}

input[type=text] {
    font-family: 'Archivo', sans-serif;
    font-size: 1.3rem;
    padding-left: 10px;
    color: rgb(40, 40, 44);
}

input::placeholder {
    font-family: 'Archivo', sans-serif;
    color: rgb(188, 189, 202);
    font-size: 1.2rem;
}

input:focus {
    border: 2px solid rgb(207, 249, 255);
    outline: none;
}