<app-header></app-header>

<div class="Container">
    <div class="deckName">Deck Kanji - Readings</div>
    <div class="searchBarContainer">
        <div class="iconContainer">
            <i class="fa fa-search"></i>
        </div>
        <input type="text" placeholder="Search Card" id="searchBoxContainer" (input)="checkInput()">    
    </div>
    <div class="cardsContainer">

        <button class="cardAdd green" type="button" (click)="abrirRouteRevisarDeck()">
            <i class="fa fa-play"> <p>Revise Deck!</p></i>
        </button>
        <button class="cardAdd" type="button" (click)="abrirMenuAdicionarCarta()">
            <i class="fa fa-plus-circle"><p>Add Card</p></i>
        </button>

        <p *ngFor="let card of filteredCards;">
            <button class="card">
                <div class="porcentagem">{{card.porcentage}}%</div>
                <div class="frontName">{{card.frontText}}</div>
                <button class="fa fa-trash" (click)="deletarCarta(card)"></button>
            </button>
        </p>
    </div>
</div>

<div class="createCard" *ngIf="addingNewCard">
    <app-card-form></app-card-form>
    <button class="buttonAddCardMenu" (click)="fecharMenuAdicionarCarta()">Cancel</button>
</div>

<app-footer></app-footer>