<app-header></app-header>

<div class="container">
    <div class="left">
        <div class="deckName">Deck Kanji - Readings</div>
        <div class="searchBarContainer">
            <div class="iconContainer">
                <i class="fa fa-search"></i>
            </div>
            <input type="text" placeholder="Search Card" id="searchBoxContainer" (input)="checkInput()">    
        </div>
        <div class="cardsContainer">
    
            <button class="cardAdd green" type="button" (click)="routeToReviseDeckPage()">
                <i class="fa fa-play"> <p>Revise Deck!</p></i>
            </button>
            <button class="cardAdd" type="button" (click)="openAddCardMenu()">
                <i class="fa fa-plus-circle"><p>Add Card</p></i>
            </button>
    
            <p *ngFor="let card of filteredCards;">
                <button class="card">
                    <div class="porcentagem">{{card.porcentage}}%</div>
                    <div class="frontName">{{card.frontText}}</div>
                    <button class="fa fa-trash" (click)="deleteCard(card)"></button>
                </button>
            </p>
        </div>
    </div>
    <div class="right">
        <svg viewBox="0 0 100 46" preserveAspectRatio="none" style="shape-rendering:geometricPrecision; image-rendering:optimizeQuality;">
            <circle cx="50" cy="23" r="15.9155" fill="none" stroke="#32518B"
                stroke-width="2"
                stroke-dasharray="100, 100" />
            <circle cx="50" cy="23" r="15.9155" class="circleofprogress" fill="none" stroke="#33BEFF" stroke-linecap="round" id="circleFill"
                stroke-width="2.2"
                attr.stroke-dasharray="{{porcentageCircle}}"
                />
            <text x="50" y="23" text-anchor="middle" alignmentBaseline='central' dominant-baseline="middle"  id="totalPorcentage">{{totalPorcentage}}%</text>
        </svg>
        <h1>Total porcentage of answers</h1>
        <p>Total number of revisions: {{currentDeck?.numberOfRevisionsMade}}</p>
    </div>
    
</div>



<div class="createCard" *ngIf="addingNewCard">
    <app-card-form></app-card-form>
    <button class="buttonAddCardMenu" (click)="closeAddCardMenu()">Cancel</button>
</div>

<app-footer></app-footer>