<app-header></app-header>

<div *ngIf="!breakpoint.mobileBreakpoint" class="flex ms-0">

    <div class="half-width half-width-gutter">

        <div class="deckName w-80">{{currentDeck.name }}</div>

        <!-- Botoes Revisao e Nova Carta-->
        <div class="flex m-t-sm">
            <button class="btn-secundary blue-bg btn-md m-r-sm" type="button" (click)="openAddCardMenu()">
                <p>New Card</p>
            </button>
            <button class="btn-secundary green-bg full-width" type="button" (click)="routeToReviseDeckPage()">
                <p class="m-r-sm">Revise</p>
                <span class="fa fa-play"></span>
            </button>
        </div>

        <!-- Lista -->
        <div class="cards-container end">
            <div class="full-width">
                <div class="full-width end">
                    <app-b-input icon="fa fa-search" [bordas]="true" (onChange)="checkInput($event)"></app-b-input>
                </div>
                <div *ngFor="let card of filteredCards; let i=index">
                    <div *ngIf="i < page.maxItensOnPage" class="card-cell flex flex space-between" (click)="routeService.navigateByUrl('kanji/' + card.frontText)">
                        <div>
                            <span class="m-r-md">{{card.frontText}}</span>
                            <span class="m-r-sm">-</span>
                            <span class="">{{card.meaning[0]}}</span>
                        </div>
                        <div>
                            <span>{{card.porcentage}}%</span>
                            <button class="m-l-md btn-void green fa fa-arrow-up-right-from-square"></button>
                            <button class="m-l-md m-r-md btn-void red fa fa-trash-alt"></button>
                        </div>
                    </div>
                </div>
                <app-default-pagination [totalItens]="cards.length" (pageChange)="managePagination($event)"></app-default-pagination>
            </div>
        </div>
    </div>

    <!-- Informacao de revisao -->
    <div class="right m-t-xd center half-width">
        <app-line-chart></app-line-chart>
        <div class="m-t-md divider-65 m-l-10"></div>
        <div class="flex align-bottom">
            <div class="w-60 m-t-lg">
                <div class="flex">
                    <div class="cell-title">Total Revisions: </div> <span class="cell-info end">{{currentDeck.totalRevisions}}</span>
                </div>
                <div class="flex">
                    <div class="cell-title ">Cards to revise: </div> <span class="cell-info end">{{currentDeck.cardsToRevise}}</span>
                </div>
                <div class="flex">
                    <div class="cell-title">Cards to learn: </div> <span class="cell-info end">{{currentDeck.cardsToLearn}}</span>
                </div>
            </div>
            <div>
                <span class="cell-title m-r-md">Sucess Rate:</span><span class="big-result m-l-sm">{{currentDeck.getSucessRate()}}</span>
            </div>
        </div>
        <div class="flex m-t-md">
            <div class="full-width" style="margin-left: -200px;">
                <app-circle [currentPorcentage]="porcentageCircle" [label]="totalPorcentage + ' %'" [absolute]="false"></app-circle>
            </div>
            <app-day-chart></app-day-chart>
        </div>

    </div>

</div>

<div *ngIf="breakpoint.mobileBreakpoint">
    <div class="deckName text-align-center full-width">{{currentDeck.name }}</div>

    <!-- Grafico de Dias de revisao -->
    <app-day-chart></app-day-chart>

    <!-- Botoes Revisao e Nova Carta-->
    <div class="flex m-t-md ms-1">
        <button class="btn-secundary blue-bg btn-md m-r-sm" type="button" (click)="openAddCardMenu()">
            <p>New Card</p>
        </button>
        <button class="btn-secundary green-bg full-width" type="button" (click)="routeToReviseDeckPage()">
            <p class="m-r-sm">Revise</p>
            <span class="fa fa-play"></span>
        </button>
    </div>

    <!-- Lista -->
    <div class="m-t-md">
        <div class="full-width">
            <div class="full-width flex align-inverse">
                <app-b-input icon=" fa fa-search " [bordas]="true " (onChange)="checkInput($event) "></app-b-input>
            </div>
            <div *ngFor="let card of filteredCards; let i=index ">
                <div *ngIf="i < page.maxItensOnPage " class="card-cell flex flex space-between " (click)="routeService.navigateByUrl( 'kanji/' + card.frontText) ">
                    <div>
                        <span class="m-r-md m-l-md ">{{card.frontText}}</span>
                        <span class="m-r-sm ">-</span>
                        <span class=" ">{{card.meaning[0]}}</span>
                    </div>
                    <div>
                        <span>{{card.porcentage}}%</span>
                        <button class="m-l-md btn-void green fa fa-arrow-up-right-from-square "></button>
                        <button class="m-l-md m-r-md btn-void red fa fa-trash-alt "></button>
                    </div>
                </div>
            </div>
            <app-default-pagination [totalItens]="cards.length " (pageChange)="managePagination($event) "></app-default-pagination>
        </div>
    </div>
</div>

<app-modal-create-card [show]=" addingNewCard " (onClose)="closeAddCardMenu() "></app-modal-create-card>
<app-footer></app-footer>