<app-header></app-header>

<div [class]="breakpoint.mobileBreakpoint ? 'flex align-inverse m-t-lg' : 'flex m-1'">

    <div [class]="breakpoint.mobileBreakpoint ? '' : 'half-width half-width-gutter'">

        <div [class]="(breakpoint.mobileBreakpoint ? 'text-align-center ' : '') + 'deckName'">{{currentDeck?.name }}</div>
        <div class="flex m-t-sm">
            <button class="btn-secundary btn-md m-r-sm" type="button" (click)="openAddCardMenu()">
                <p>New Card</p>
            </button>
            <button class="btn-secundary green-bg full-width" type="button" (click)="routeToReviseDeckPage()">
                <p class="m-r-sm">Revise</p>
                <span class="fa fa-play"></span>
            </button>
        </div>

        <div [class]="breakpoint.mobileBreakpoint ? 'm-t-lg' : 'cards-container end'">
            <div class="full-width">
                <div class="full-width end">
                    <app-b-input icon="fa fa-search" [bordas]="true" (onChange)="checkInput"></app-b-input>
                </div>
                <div *ngFor="let card of filteredCards">
                    <div class="card-cell flex flex space-between" (click)="routeService.navigateByUrl('kanji/' + card.frontText)">
                        <div>
                            <span class="m-r-md">{{card.frontText}}</span>
                            <span class="m-r-sm">-</span>
                            <span class="">{{card.meaning[0]}}</span>
                        </div>
                        <div>
                            <span>{{card.porcentage}}%</span>
                            <button class="m-l-md btn-void green fa fa-arrow-up-right-from-square"></button>
                            <button class="m-l-md m-r-md btn-void red fa fa-trash-alt"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [class]="'right m-t-xd center ' + (breakpoint.mobileBreakpoint ? 'full-width' : 'half-width')">
        <app-line-chart></app-line-chart>
        <div class="m-t-md divider-65 m-l-10"></div>
        <div class="flex align-bottom">
            <div class="w-60 m-t-lg">
                <div class="flex">
                    <div class="cell-title">Total Revisions: </div> <span class="cell-info w-35 end">4</span>
                </div>
                <div class="flex">
                    <div class="cell-title ">Cards to revise: </div> <span class="cell-info w-35 end">4</span>
                </div>
                <div class="flex">
                    <div class="cell-title">Cards to learn: </div> <span class="cell-info w-35 end">4</span>
                </div>
            </div>
            <div>
                <span class="cell-title m-r-md">Sucess Rate:</span><span class="big-result m-l-sm">A</span>
            </div>
        </div>
        <div class="flex m-t-md">
            <div class="w-80 m-r-n20">
                <app-circle [currentPorcentage]="porcentageCircle" [label]="totalPorcentage + ' %'" [absolute]="false"></app-circle>
            </div>
            <app-day-chart></app-day-chart>
        </div>

    </div>

</div>


<app-modal-create-card [show]="addingNewCard" (onClose)="closeAddCardMenu()"></app-modal-create-card>
<app-footer></app-footer>