html {
    height: 100%;
}

.half-width {
    width: 50%;
}

.half-width-gutter {
    margin-right: 72px;
}

.right {
    font-family: 'Archivo', sans-serif;
    color: rgb(99, 99, 105);
}

.right h1 {
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(174, 174, 182);
}

.right p {
    font-size: 1.2rem;
    margin-top: 15px;
}

.result {
    margin-left: 40%;
}

.deckName {
    color: #96b9ee;
    font-family: var(--serif-font);
    font-size: 3rem;
    margin-top: 40px;
    width: 80%;
    padding-bottom: 5px;
    border-bottom: rgba(202, 206, 224, 0.199) solid 2px;
}

.searchBarContainer {
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: rgb(14, 14, 20);
    border-radius: 3px 0px 0px 3px;
    width: 80%;
}

.iconContainer {
    color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
}

i {
    font-size: 25px;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}

input {
    height: 30px;
    width: 100%;
    border-radius: 0%;
}

input[type=text] {
    font-family: 'Archivo', sans-serif;
    font-size: 1.3rem;
    padding-left: 10px;
    color: rgb(40, 40, 44);
}

input::placeholder {
    font-family: 'Archivo', sans-serif;
    color: rgb(188, 189, 202)
}

input:focus {
    outline: thin dotted;
}

.cards-container {
    margin-top: 76px;
}

.cardAdd p {
    font-family: 'Archivo', sans-serif;
    font-weight: lighter;
    font-size: 1.4rem;
    margin-left: 10px;
    font-weight: 600;
}

.cardAdd span {
    font-size: 1.6rem;
}

.cardAdd:hover {
    background-color: rgb(67, 164, 255);
}

.cardsContainer i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0rem;
}

.createCard {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: rgba(4, 5, 17, 0.822);
}

.cardAddText {
    font-family: 'Archivo', sans-serif;
    width: 50%;
    height: 3.5rem;
    border: 3px solid rgb(59, 46, 129);
    text-align: center;
}

.cardAddLabel {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.buttonAddCardMenu {
    background-color: #373a61;
    border: none;
    color: white;
    font-size: 1.4rem;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.buttonAddCardMenu:hover {
    background-color: rgb(67, 164, 255);
}

.buttonsMenu {
    display: flex;
    justify-content: center;
}