.PrimeiroBloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.SegundoBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TextoInput{
    width: 800px;
    height: 50px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

.BotoesCentrais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
;}

.BotaoGrande{
    height: 50px;
    width: 125px;
}

.TextoInput[type="text"]{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

.Aviso{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.Aviso p {
    color: rgb(255, 21, 68);
}

.BotaoGrande{
    background-color: #373a61;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}

.BotaoGrande:hover{
    background-color: rgb(67, 164, 255);
}