<app-header></app-header>
<div class="containter">
    <div class="currentDeck">    

        <div class="frontCard">
            <div class="textBox">
                <p class="textCard">{{textoDaFrenteAtual}}</p>
            </div>
        </div>

        <div [style.backgroundColor]="corBackCard"  class="backCard">
            <input type="text" #thisinput class="inputTextBox" id="wanakana-input" name="backCardInput" [(ngModel)]="inputDeTexto" (input)="checkInput()"> 
        </div>

    </div>
    <div class="botoesDeCartas">
        <button class="botaoVirarCarta" [hidden]="cartaEstaVirada" [hidden]="finalizouDeRevisar" (click)="VirarCarta()">Virar</button>
        <button class="botaoVirarCarta" [hidden]="!cartaEstaVirada" (click)="MudarCarta()">Proxima</button>
        <button class="botaoVirarCarta" [hidden]="!finalizouDeRevisar" (click)="Sair()">Sair</button>

    </div>
</div>

<app-footer></app-footer>