.container {
    font-family: var(--serif-font);
    font-size: 18px;
    color: #808689;
}

.element {
    cursor: pointer;
    margin: 0px 4px;
    padding: 0px 2px;
    width: 18px;
    height: 20px;
    text-align: center;
    display: inline-block;
}

.current {
    border-bottom: 4px solid #A2A9B7;
}