:root {
    --primary-color: #4555e8;
    --input-border-color: #2539ed;
    --input-text-color: #7e7e7e;
    --primary-bg-color: #fff;
    --primary-btn-color: #46a98b;
    --light-text: #ebffff;
    --text-btn-color: #e0ffed;
    --unactive-light-text: #b8b7e1;
    --link-color: #cabe96;
    --switch-color: #b9e2ff;
    --medium-wrong-color: #c38d8d;
    --light-wrong-color: #e8b5b5;
    --medium-sucess-color: #46a98b;
    --google-box-color: #604873;
    --twitter-box-color: #02487b;
}