<app-modal [show]="show" title="Adicionar Deck" (onClose)="onClose.emit()">
    <div content class="m-b-ssm relative">
        <div class="top-input">Nome Deck</div>
        <input class="input full-width relative " [(ngModel)]="deckName" type="text" name="inpt-email" id="inpt-email" placeholder="Digite o nome do deck..." required minlength="1" autocomplete="on">
    </div>

    <div opcoes>
        <button class="btn-primary" (click)="addNewDeck()">
            Criar
        </button>
    </div>
</app-modal>