.entradas-de-texto {
    width: 280px;
    height: 80vh;
    background-color: #8f9aa7;
}

.area-de-escrita {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    height: 70vh;
    background-color: #f4f4f4;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none
}

.area-de-escrita:focus {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none
}

.opcoes {
    height: 50px;
    background-color: #d9d9d9;
}