<div class="opcoes middle flex space-between">
    <div class="flex m-l-md kanji-sugestions overflow-h">
        <div *ngFor="let kanji of sugestoesDeKanji; let i = index" [class]="(i === sugestaoAtualDeKanji ? 'kanjiAtivo ' : '') + ' kanji m-r-md'">
            {{kanji}}
        </div>
    </div>

    <div class="opcoes middle end">
        <div *ngFor="let opcao of options; let i = index" [class]="(opcao.active ? 'bg-color-primary ' : 'bg-color-option ') +' opcao box-small '" (click)="opcao.active = !opcao.active">
            <span [class]="opcao.icon + ' white '"></span>
        </div>
    </div>
</div>
<textarea [ngModel]="text" (blur)="blur.emit()" (keydown)="checkforKanji($event)" class="area-de-escrita p-2 text-md full-width m-b-sm" id="wanakana-input"></textarea>
<div class="traducao"></div>