/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

button{
    border: none;
    border-radius: 3px;
    color: whitesmoke;
    background-color: cadetblue;

}

button:hover{
    background-color: rgb(201, 99, 26);
}

button:disabled{
    background-color: rgb(60, 70, 70);
}

