<app-header></app-header>
<div class="containter">
    <div class="mainPage">
        <div class="currentDeck">    
            <div class="frontCard">
                <div class="textBox">
                    <p class="textCard">{{currentFrontText}}</p>
                </div>
            </div>
    
            <div [style.backgroundColor]="backCardColor"  class="backCard">
                <input type="text" #thisinput class="inputTextBox" id="wanakana-input" name="backCardInput" [(ngModel)]="textInput" (input)="checkInput()" (keydown.enter)="turnCard()"> 
            </div>
        </div>
        <div class="botoesDeCartas">
            <button class="botaoVirarCarta" [hidden]="cardIsTurned" [hidden]="revisionEnded" (click)="turnCard()">Virar</button>
            <button class="botaoVirarCarta" [hidden]="!cardIsTurned" (click)="changeCard()">Proxima</button>
            <button class="botaoVirarCarta" [hidden]="!revisionEnded" (click)="changePageToMainPage()">Sair</button>
        </div>
    </div>
    <div class="footerContainer">
        <app-footer></app-footer>
    </div>
</div>
